aniso8601==8.0.0
astroid==2.3.3
attrs==19.3.0
beautifulsoup4==4.8.2
bs4==0.0.1
certifi==2019.11.28
chardet==3.0.4
Click==7.0
colorama==0.4.3
dateparser==0.7.2
Flask==1.1.1
flask-restplus==0.13.0
idna==2.8
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.1
jsonschema==3.2.0
lazy-object-proxy==1.4.3
lxml==4.5.0
MarkupSafe==1.1.1
mccabe==0.6.1
mock==4.0.0
opencage==1.2
openerp-web==7.0.406
pylint==2.4.4
pyrsistent==0.15.7
python-dateutil==2.5.2
pytz==2019.3
PyYAML==5.4
regex==2020.1.8
requests==2.22.0
six==1.14.0
soupsieve==1.9.5
tzlocal==2.0.0
urllib3==1.25.8
Werkzeug==0.16.1
wrapt==1.11.2
yml2json==1.1.3
